.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

h3 {
  font-weight: bold;
}

.experiencia-texto {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #757070;
  max-width: 40ch;
  padding: 0px 0px;
  text-align: start;
}

p strong {
  color: black;
}

.empresa-texto {
  font-size: 1rem;
  color: #3f3d3d;
  grid-column: 1/2;
  margin: 5px 0px;
  justify-content: start;
  max-width: 40ch;
}

.empresa-titulo {
  grid-column: 2;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.empresa-nome {
  grid-column: 1;
  position: relative;
  text-align: start;
  justify-items: safe;
}

.empresa-nome::before {
  content: '';
  border-radius: 2px;
  display: block;
  position: absolute;
  height: 40px;
  width: 5px;
  background: linear-gradient(#1e5568, #0427c4);
  left: -23px;
  top: -5px;
  justify-content: start;
}

.experiencias {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #f3f1f1;
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 1rem 1.2rem;
  max-width: 150vh;
}

.empresa-ano {
  position: absolute;
  margin-left: -70px;
  justify-content: start;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}

.habilidades li {
  height: 16px;
  border-radius: 4px;
  text-align: center;
  padding: 10px 10px;
  background-color: white;
}

.subtitulo {
  font-size: 10rem;
  word-break: break-all;
  color: #d4cfcf;
  min-width: 4ch;
}